<p>Welcome to Codenames!</p>
<p>The aim of the game is to guess all your team's words (blue), while avoiding the words of the other team (red).</p>
<p>To help you the computer will be your spymaster and give one word clues to link to your team's words on the board.</p>
<p>You can ask for clues that link up to three words. Then when guessing you are allowed one more guess than the clue number.</p>
<p>If you choose the assassin (black), you lose. If you choose the other team's card, your turn ends immediately, and the other team is one step closer to winning. If you choose a neutral card (grey), your turn simply ends<p>
<a href="https://github.com/Pbatch/Codenames" target="_blank">Source code</a>