<!doctype html>
<html>
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
      <script>{% include 'js/main.js' %}</script>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
      <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/board.css") }}'>
   </head>
   <body>
      <div id = "application">
         <div class = "wrapper" style="--split: 5;" id = "status">
            <div class="symbol_button" id="reset">
               <div class="symbol_button_text">
                  Reset &#8634;
               </div>
            </div>
            <div id="remaining">
               <span class="remaining_text" id="blue" style="--colour:blue">9</span>
               &nbsp;–&nbsp;
               <span class="remaining_text" id="red" style="--colour:red">8</span>
            </div>
            <div id="title">
               Codenames
            </div>
            <div></div>
            <div class="symbol_button" id="end_turn">
               <div class="symbol_button_text">
                  End Turn
               </div>
            </div>
         </div>
         <div class="wrapper" style="--split: 5;" id="board">
            {% for word in board[1:] %}
               <div class="card" id="{{word.id}}">
                  {{word.name}}
               </div>
            {% endfor %}
         </div>
      </div>
      <div class="wrapper" style="--split: 5;" id = "footer">
         <div id="radio">
            <input type="radio" name="difficulty" value="easy" id="easy" checked="checked">
            <label for="easy">easy</label>
            <input type="radio" name="difficulty" value="medium" id="medium">
            <label for="medium">medium</label>
            <input type="radio" name="difficulty" value="hard" id="hard">
            <label for="hard">hard</label>
         </div>
         <div id="clue_text"></div>
         <div id="turn_text"></div>
         <div>
            <label class="switch">
               Cheat
              <input type="checkbox" id="cheat">
            </label>
         </div>
         <div class="symbol_button" id="instructions">
            <div class="symbol_button_text">
               Instructions &#63;
            </div>
            <div id="dialog"></div>
         </div>
      </div>
   </body>
</html>